extends layout

block content
  h1= title
  h2 Welcome to #{title}
  h3 Edit the student details  br
  form (action="/students/update/" + student._id method="post")
      label(for="first")
         strong First:
      input#first(type="text" name="first" value=student.first)


      label(for='first') &nbsp;&nbsp;&nbsp;&nbsp; strong First: &nbsp;&nbsp;&nbsp;&nbsp;
        input#first(type='text', name='first' value=student.first)
      br
      br
        label(for='last') &nbsp;&nbsp;&nbsp;&nbsp; strong Last: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input#last(type='text', name='last' value=student.last)
      br
      br
        label(for='address') &nbsp;&nbsp;&nbsp;&nbsp; strong Street: &nbsp;&nbsp;&nbsp;
        input#address(type='text'  name='address' value=student.address)
      br
        label(for='city') &nbsp;&nbsp;&nbsp;&nbsp; strong City: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input#city(type='text', name='city' value=student.city)
      br
        label(for='state') &nbsp;&nbsp;&nbsp;&nbsp; strong State: &nbsp;&nbsp;&nbsp;&nbsp;
        input#state.form-control(type='text', name='state'  value=student.city)
      p
      input#updateButton(type='submit' name="updateButton" value="Update Student Information")

      h3 Delete this student
      form(action="/student/delete/" + student._id method="get")
         input#deleteButton(type="submit" name="deleteButton" value="Delete Student")
